.img-box img {
    max-width: 100%;
    max-height: 100%;
}

p, h1, h2, div {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#content {
    position: absolute;
}

#map-chile-widget {
    position: absolute;
    width: 20vh;
    height: 90vh;
}

#map-widget {
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.map-widget h2 {
    display: inline-block;
}

#map-vis-mode-widget {
    position: relative;
    display: inline-block;
}

.map {
    width: inherit;
    height: inherit;
}

#concepts-widget {
    position: absolute;
    left: calc(20vh + 1vw);
    width: calc(100vw - 20vh - 3vw);
}

#top-concepts .img-box {
    height: 50vh;
}

#concept-search {

}

#fundaments-location {
    float: left;
}

#fundament-list {
    overflow: auto;
}

/*
@media all and (orientation:portrait) {
    #fundament-list {
        overflow: auto;
    }
}
*/

/*@media all and (orientation:landscape) {
    #map-widget {
        position: absolute;
        width: calc((100vw - 20vh - 1vw)/2 - 2vw);
    }

    #fundaments-widget {
        overflow: auto;
        position: relative;
        /*left: calc((100vh - 20vh)/2);
        left: 50%;
        width: 50%;
    }
}*/

#title {
    display: inline-block;
}

#nav form {
    display: inline-block;
    float: right;
}

#footer {
    position: fixed;
    bottom: 0;
}

.attribute {
    display: inline-block;
}

.percentage {
    display: inline-block;
}

.value {
    display: inline-block;
}

.ui-autocomplete {
    z-index: 9999 !important;
}