.img-box img {
    max-width: 100%;
    max-height: 100%;
}

p, h1, h2, div {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#body {
    position: absolute;
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
}

#nav {
    flex-shrink: 0;
}

#title {
    display: inline-block;
}

#nav form {
    display: inline-block;
    float: right;
}

#footer {
    position: fixed;
    bottom: 0;
}


#content {
    position: relative;
    display: flex;
    flex-direction: column;
}

#map-chile-widget {
    position: absolute;
    width: 20vh;
    height: 90vh;
}

#map-widget {
    height: 65vh;
    display: flex;
    flex-direction: column;
}

.map-widget h2 {
    display: inline-block;
}

#map-vis-mode-widget {
    position: relative;
    display: inline-block;
}

.map {
    width: inherit;
    height: inherit;
}

#concepts-widget {
    position: relative;
    left: calc(20vh + 1vw);
    width: calc(100vw - 20vh - 3vw);
    height: 100%;
    flex-shrink: 0;
}

#top-concepts .img-box {
    height: 50vh;
}

#concept-search {

}

#fundaments-widget {
    position: relative;
    left: calc(20vh + 1vw);
    width: calc(100vw - 20vh - 3vw);
    /*height: 100%;*/
    overflow-y: auto;
}

#fundaments-location {
    float: left;
}

@media all and (min-width: 1000px) {
    #fundament-list {
        font-size: small;
    }
}

@media all and (max-width: 999px) {
    #fundament-list {
        font-size: x-small;
    }
}

@media all and (max-width: 499px) {
    #fundament-list {
        font-size: xx-small;
    }
}

#fundament-list table {
    width: 100%;
    border-collapse: collapse;
}

.fixed-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/*
@media all and (orientation:portrait) {
    #fundament-list {
        overflow: auto;
    }
}
*/

/*@media all and (orientation:landscape) {
    #map-widget {
        position: absolute;
        width: calc((100vw - 20vh - 1vw)/2 - 2vw);
    }

    #fundaments-widget {
        overflow: auto;
        position: relative;
        /*left: calc((100vh - 20vh)/2);
        left: 50%;
        width: 50%;
    }
}*/

.attribute {
    display: inline-block;
}

.percentage {
    display: inline-block;
}

.value {
    display: inline-block;
}

.ui-autocomplete {
    z-index: 9999 !important;
}

.truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}