/* universal */

.img-box img {
    max-width: 100%;
    max-height: 100%;
}

p, h1, h2, div, span {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/*
hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;

    margin-left: 0;
    margin-right: 0;
}
*/

hr {
    display: block;
    margin-top: .5em;
    margin-bottom: .5em;
    border-style: inset;
    border-width: 1px;

    margin-left: 0;
    margin-right: 0;
}
/*
#body {
    position: absolute;
    width: 98%;
    height: 98%;
    margin: 8px;
    display: flex;
    flex-direction: column;
}
*/

body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#title {
    display: inline-block;
    font-size: large;
}

.subtitle {

}

#nav form {
    flex-shrink: 0;
}

#footer {
    position: fixed;
    bottom: 0;
}


#content {
    position: relative;
    display: flex;
    flex-direction: column;
}

#map-chile-widget {
    position: absolute;
    width: 20vh;
    height: 90vh;
}

.map-widget h2 {
    display: inline-block;
}

#map-vis-mode-widget {
    position: relative;
    display: inline-block;
}

.map {
    width: inherit;
    height: inherit;
}

#concepts-widget {
    position: relative;
    flex-shrink: 0;
}

#top-concepts .img-box {
    height: 50vh;
}

#concept-search {

}

#info-widget {
    border: 1px solid #ddd;
    margin: 0 1vw;
}

#info {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}



#concepts-list {
    max-height: 70vh;
}

#concepts-table {
    max-height: 70vh;
    overflow-y: auto;
    display: block;
}

#concepts-table td, #concepts-table th {
    min-width: 12em;
    padding: 0 .5em;
    line-height: 2em;
    border-right: 1px solid #ddd;
}

/* portrait */

@media all and (orientation:portrait) {
    #map-and-info {
        display: flex;
        flex-direction: column;
    }

    #map-widget {
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    #info {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    #info-widget {
        max-height: 15vh;
        display: flex;
        flex-direction: column;
    }

    .info-group {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        align-items: baseline;
    }

    .value {

    }

    .landscape-only {
        display: none;
    }
}

/* landscape */

@media all and (orientation:landscape) {
    #map-and-info {
        display: flex;
        flex-direction: row;
    }

    #map-widget {
        width: 100%;
        height: 65vh;
        display: flex;
        flex-direction: column;
    }

    #info {
        overflow-y: auto;
    }

    #info-widget {
        width: 20%;
        height: 65vh;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: large;
    }

    #info {
        overflow-y: auto;
        margin-left: 0.5em;
        margin-right: 0.5em;
        margin-top: 0.5em;
    }

    .info-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .portrait-only {
        display: none;
    }
}

#info {
    height: 100%;
}

.attr {
    font-weight: bold;
}

.value {
    margin-left: .5em;
}


#fundaments-widget {
    position: relative;
    /*height: 100%;*/
    overflow-y: auto;
}

#fundaments-location {
    float: left;
}

.m-wide, .wide {
    display: none;
}

.adaptable-large {
    font-size: small;
}

/* narrow */

@media all and (max-width:549px) {
    .not-so-small {
        font-size: x-small;
    }

    .small {
        font-size: xx-small;
    }
}

/* medium wide */

@media all and (min-width:550px) {
    .not-so-small {
        font-size: small;
    }

    .small {
        font-size: x-small;
    }

    .m-wide {
        display: unset;
    }

    #concepts-widget, #fundaments-widget {
        left: calc(20vh + 1vw);
        width: calc(100vw - 20vh - 3vw);
    }
}

/* wide screen */

@media all and (min-width:1000px) {
    .not-so-small {
        font-size: medium;
    }

    .small {
        font-size: small;
    }

    ..wide {
        display: unset;
    }
}

/* short screen */
@media all and (max-height: 549px) {
    hr {
        display: none;
    }
}

/* medium height screen */
@media all and (min-height: 550px) {

}

/* tall screen */
@media all and (min-height: 800px) {

}

/* medium screen */
@media all and (min-width: 550px) and (min-height: 550px) {
    .adaptable-large {
        font-size: medium;
    }
}

/* big screen */
@media all and (min-width: 1000px) and (min-height: 800px) {
    .adaptable-large {
        font-size: large;
    }
}


.fundament-table {
    width: 100%;
    border-collapse: collapse;
}

.fundament-table > thead > tr > th,
.fundament-table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
}

.fixed-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/*
@media all and (orientation:portrait) {
    #fundament-list {
        overflow: auto;
    }
}
*/

/*@media all and (orientation:landscape) {
    #map-widget {
        position: absolute;
        width: calc((100vw - 20vh - 1vw)/2 - 2vw);
    }

    #fundaments-widget {
        overflow: auto;
        position: relative;
        /*left: calc((100vh - 20vh)/2);
        left: 50%;
        width: 50%;
    }
}*/

.ui-autocomplete {
    z-index: 9999 !important;
}

.strong {
    color: darkblue;
    font-weight: bold;
}

.truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* bubbles */
#link-bubble-help .help-bubble {
    left: -1.5em;
}

/* bounce */

#loading {
    display: none;
}

.ui-effects-wrapper {
    display : inline-block;
}