.img-box img {
    max-width: 100%;
    max-height: 100%;
}

p, h1, h2, div, span {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;

    margin-left: 0;
    margin-right: 0;
}

#body {
    position: absolute;
    width: 98%;
    height: 98%;
    margin: 8px;
    display: flex;
    flex-direction: column;
}

#nav {
    flex-shrink: 0;
}

#title {
    display: inline-block;
}

#nav form {
    display: inline-block;
    float: right;
}

#footer {
    position: fixed;
    bottom: 0;
}


#content {
    position: relative;
    display: flex;
    flex-direction: column;
}

#map-chile-widget {
    position: absolute;
    width: 20vh;
    height: 90vh;
}

.map-widget h2 {
    display: inline-block;
}

#map-vis-mode-widget {
    position: relative;
    display: inline-block;
}

.map {
    width: inherit;
    height: inherit;
}

#concepts-widget {
    position: relative;
    left: calc(20vh + 1vw);
    width: calc(100vw - 20vh - 3vw);
    height: 100%;
    flex-shrink: 0;
}

#top-concepts .img-box {
    height: 50vh;
}

#concept-search {

}

#info-widget {
    border: 1px solid #ddd;
    margin: 0 1vw;
}

@media all and (orientation:portrait) {
    #map-and-info {
        display: flex;
        flex-direction: column;
    }

    #map-widget {
        height: 50vh;
        display: flex;
        flex-direction: column;
    }

    #info-widget {
        max-height: 15vh;
        display: flex;
        flex-direction: column;
    }

    .info-group {
        display: flex;
        flex-direction: row;
    }

    .value {
        
    }
}

@media all and (orientation:landscape) {
    #map-and-info {
        display: flex;
        flex-direction: row;
    }

    #map-widget {
        width: 100%;
        height: 65vh;
        display: flex;
        flex-direction: column;
    }

    #info-widget {
        width: 20%;
        height: 65vh;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        font-size: medium;
    }

    #info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .info-group {
        display: flex;
        flex-direction: column;
    }
}

#info {
    height: 100%;
    overflow-y: auto;
}

#fundaments-widget {
    position: relative;
    left: calc(20vh + 1vw);
    width: calc(100vw - 20vh - 3vw);
    /*height: 100%;*/
    overflow-y: auto;
}

#fundaments-location {
    float: left;
}

@media all and (min-width:1000px) {
    .not-so-small {
        font-size: medium;
    }

    .small {
        font-size: small;
    }
}

@media all and (max-width:999px) {
    .not-so-small {
        font-size: small;
    }

    .small {
        font-size: x-small;
    }
}

@media all and (max-width:499px) {
    .not-so-small {
        font-size: x-small;
    }

    .small {
        font-size: xx-small;
    }
}

.fundament-table {
    width: 100%;
    border-collapse: collapse;
}

.fundament-table > thead > tr > th,
.fundament-table > tbody > tr > td {
    border-bottom: 1px solid #ddd;
}

.fixed-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

/*
@media all and (orientation:portrait) {
    #fundament-list {
        overflow: auto;
    }
}
*/

/*@media all and (orientation:landscape) {
    #map-widget {
        position: absolute;
        width: calc((100vw - 20vh - 1vw)/2 - 2vw);
    }

    #fundaments-widget {
        overflow: auto;
        position: relative;
        /*left: calc((100vh - 20vh)/2);
        left: 50%;
        width: 50%;
    }
}*/

.attr {
    font-weight: bold;
}

.value {
    
}

.ui-autocomplete {
    z-index: 9999 !important;
}

.strong {
    color: darkblue;
    font-weight: bold;
}

.truncated {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}